# Ignore build output directories
/build/
*.elf
*.bin
*.map

# Ignore object files and libraries
*.o
*.a

# Ignore dependency files
*.d

# ESP-IDF specific temporary files
sdkconfig
sdkconfig.old
sdkconfig.*.bak
project_description.json

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDF Python environment files
.python_env/
env/
pip-selfcheck.json

# Ignore CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore Visual Studio Code settings
.vscode/

# Ignore Eclipse IDE files
.cproject
.project
.settings/

# Ignore MacOS files
.DS_Store

# Ignore Linux and Unix system files
*.swp
*~
